{:deps true

 :dev-http {8888 "public"
            7777 "examples/todomvc/resources/public"
            9999 "target/test"}

 :builds
 {:demo {:target :browser
         :output-dir "public/js"
         :asset-path "/js"
         :modules {:demo {:entries [demo.main]
                          :init-fn demo.main/main}}
         :devtools {:reload-strategy :full
                    :preloads [devtools.preload]}}

  :test {:target :browser-test
         :test-dir "target/test"}

  :todomvc {:target :browser
            :output-dir "examples/todomvc/resources/public/js"
            :asset-path "/js"
            :modules {:client {:entries [todomvc.core]
                               :init-fn todomvc.core/main}}
            :devtools {:reload-strategy :full
                       :preloads [devtools.preload]}}}}
