{:lint-as
 {solid.alpha.core/defui1 clojure.core/defn
  solid.alpha.core/defc clojure.core/defn
  solid.alpha.core/for clojure.core/for
  solid.alpha.core/if clojure.core/if
  solid.alpha.core/when clojure.core/when}}
